<h1><%= t('static_pages.top.title') %></h1>
<button id="info-button" class="btn btn-info"><%= t('static_pages.top.about_button') %></button>

<div id="info-popup" style="display: none;">
  <p><%= t('static_pages.top.about_description') %></p>
  <button id="close-popup"><%= t('static_pages.top.close_button') %></button>
</div>

<h1><%= link_to t('static_pages.top.login_link'), new_user_session_path, class: 'login-link' %></h1>
