<%= link_to '＜日記一覧', mypages_diaries_path %>
<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>作成日時</strong>
  <%= @diary.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>更新日時</strong>
  <%= @diary.updated_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<div class="content_japanese">
  <strong>内容（日本語）</strong>
  <div class="content-display">
    <%= @diary.content_japanese.present? ? @diary.content_japanese : '内容はありません' %>
  </div>
</div>

<div class="content_english">
  <strong>内容（英語）</strong>
  <div class="content-display">
    <%= @diary.content_english.present? ? @diary.content_english : '内容はありません' %>
  </div>
</div>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>
<%= link_to 'Destroy', diary_path(@diary), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>