<div class="diary-container">
  <h2 class="diary-title"><%= t('diaries.show.page_title') %></h2>

  <div class="diary-paper">
    <!-- タイトル -->
    <div class="diary-info title-border">
      <span class="underline">
        <%= t('diaries.show.title') %> <%= @diary.title %>
      </span>
    </div>

    <!-- 作成日時 -->
    <div class="diary-info">
      <span class="underline">
        <%= t('diaries.show.start_time') %> <%= @diary.start_time.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
      </span>
    </div>

    <!-- 編集日時 -->
    <div class="diary-info">
      <span class="underline">
        <%= t('diaries.show.edited_time') %> <%= @diary.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
      </span>
    </div>

    <!-- 日記の内容（横並び） -->
    <div class="diary-columns">
      <!-- 日本語エリア -->
      <div class="diary-section">
        <%= t('diaries.show.contents_japanese') %>
        <div class="content-display content_frame" style="font-family: <%= @diary.japanese_font_name || 'Noto Sans JP' %>;">
          <%= @diary.content_japanese.present? ? @diary.content_japanese : 'No content' %>
        </div>
      </div>

      <!-- 英語エリア -->
      <div class="diary-section">
        <%= t('diaries.show.contents_english') %>
        <div class="content-display content_frame" style="font-family: <%= @diary.english_font_name || 'Noto Sans' %>;">
          <%= @diary.content_english.present? ? @diary.content_english : 'No content' %>
        </div>
      </div>
    </div>

    <!-- 編集・削除ボタン -->
    <div class="form-actions">
      <%= link_to 'Edit', edit_diary_path(@diary), class: "edit-button" %>
      <%= link_to 'Destroy', diary_path(@diary), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "delete-button" %>
    </div>
  </div>
</div>
