<div class="diary-info">
  <span class="underline">
    <%= t('diaries.show.title') %> <%= @diary.title %>
  </span>
</div>

<div class="diary-info">
  <span class="underline">
    <%= t('diaries.show.start_time') %> <%= @diary.start_time.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
  </span>
</div>

<div class="diary-info">
  <span class="underline">
    <%= t('diaries.show.edited_time') %> <%= @diary.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M") %>
  </span>
</div>

<div class="content_japanese">
  <%= t('diaries.show.contents_japanese') %>
  <div class="content-display content_frame" style="font-family: <%= @diary.japanese_font_name || 'Noto Sans JP' %>;">
    <%= @diary.content_japanese.present? ? @diary.content_japanese : 'No content' %>
  </div>
</div>

<div class="content_english">
  <%= t('diaries.show.contents_english') %>
  <div class="content-display content_frame" style="font-family: <%= @diary.english_font_name || 'Noto Sans' %>;">
    <%= @diary.content_english.present? ? @diary.content_english : 'No content' %>
  </div>
</div>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Destroy', diary_path(@diary), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>