<%= link_to t('shop.index.my_page_link'), mypages_top_path %>
<h1><%= t('shop.index.title') %></h1>
<p><%= t('shop.index.your_points', points: current_user.tree.points) %></p>

<h2><%= t('shop.index.japanese_fonts_title') %></h2>
<% if @japanese_fonts.any? %>
  <ul>
    <% @japanese_fonts.each do |font| %>
      <li>
        <strong><%= link_to font.name, shop_path(font) %></strong> - <%= t('shop.index.font_price', price: font.price) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('shop.index.no_japanese_fonts') %></p>
<% end %>

<h2><%= t('shop.index.english_fonts_title') %></h2>
<% if @english_fonts.any? %>
  <ul>
    <% @english_fonts.each do |font| %>
      <li>
        <strong><%= link_to font.name, shop_path(font) %></strong> - <%= t('shop.index.font_price', price: font.price) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><%= t('shop.index.no_english_fonts') %></p>
<% end %>
