<% if @tree %>
  <h1>プレイヤー情報</h1>
  <p>名前: <%= @tree.name %></p>
  <p>レベル: <%= @tree.level %></p>
  <p>ジョブ: <%= @tree.job %></p>
  <p>ポイント: <%= @tree.points %></p>
  <%= button_to "特訓", train_path, method: :post %>
<% else %>
  <%= button_to "プレイヤーを作成", create_tree_path, method: :post %>
<% end %>