<%= link_to '＜Log out', destroy_user_session_path, data: { turbo_method: :delete, action: 'redirect' }, id: 'logout-link' %>
<h1>My Page<h1>
<p><%= link_to 'Write Diary', new_diary_path %></p>
<p><%= link_to 'View Diaries', mypages_diaries_path %></p>
<p><%= link_to 'Go to Shop', shop_index_path %></p>
<p><%= link_to 'Settings', mypages_settings_path %></p>

<h1>Tree Information</h1>
<p>Your Points: <%= @tree.points %></p>
<p><%= @tree.max_count %> laps</p>
<p>Level: <%= @tree.level %></p>
<% if @tree && @tree.last_trained_at && @tree.last_trained_at.to_date == Date.today %>
  <p>Watering:<Yet/p>
<% else %>
  <p>Watering:Not Yet</p>
<% end %>

<h2>Purchased Items</h2>

<h3>Japanese Fonts</h3>
<% japanese_fonts = @purchased_items.select { |item| item.language == 'Japanese' } %>
<% if japanese_fonts.any? %>
  <ul>
    <% japanese_fonts.each do |font| %>
      <li><strong><%= font.name %></strong>: <%= font.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't purchased any Japanese fonts yet.</p>
<% end %>

<h3>English Fonts</h3>
<% english_fonts = @purchased_items.select { |item| item.language == 'English' } %>
<% if english_fonts.any? %>
  <ul>
    <% english_fonts.each do |font| %>
      <li><strong><%= font.name %></strong>: <%= font.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>You haven't purchased any English fonts yet.</p>
<% end %>
