<p><%= t('reminder_mailer.daily_reminder.greeting', name: @user.name) %></p>
<p><%= t('reminder_mailer.daily_reminder.intro') %></p>
<p><%= t('reminder_mailer.daily_reminder.encouragement') %></p>
<p><%= t('reminder_mailer.daily_reminder.reminder_time') %></p>
<p><%= t('reminder_mailer.daily_reminder.theme_hint') %></p>
<ul>
  <% t('reminder_mailer.daily_reminder.theme_examples').each do |example| %>
    <li><%= example %></li>
  <% end %>
</ul>
<p><%= t('reminder_mailer.daily_reminder.call_to_action') %></p>
<p><a href="<%= ENV['APP_URL'] %>"><%= t('reminder_mailer.daily_reminder.write_link') %></a></p>
<p><%= t('reminder_mailer.daily_reminder.closing_message') %></p>
<p><%= t('reminder_mailer.daily_reminder.support_message') %></p>
<p><%= t('reminder_mailer.daily_reminder.team_signature') %></p>
