<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      :root {
        --japanese-font: inherit;
        --english-font: inherit;
      }
    </style>
    <meta property="og:title" content="<%= t('layouts.application.og.title') %>" />
    <meta property="og:description" content="<%= t('layouts.application.og.description') %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= asset_path('ogp-image.jpg') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="<%= I18n.locale == :ja ? 'ja_JP' : 'en_US' %>" />
    
    <!-- Twitterカード用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= t('layouts.application.twitter.title') %>" />
    <meta name="twitter:description" content="<%= t('layouts.application.twitter.description') %>" />
    <meta name="twitter:image" content="<%= asset_path('ogp-image.jpg') %>" />

  </head>

  <body>
    <%= render 'shared/header' %>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <div class="layout">
      <% if controller_name != 'static_pages' || action_name != 'top' %>
        <aside class="sidebar">
          <%= render 'shared/sidebar' %>
        </aside>
      <% end %>

      <main class="main-content">
        <%= yield %>
      </main>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
