<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      :root {
        --japanese-font: inherit;
        --english-font: inherit;
      }
    </style>
    <meta property="og:title" content="English Diary" />
    <meta property="og:description" content="日記を楽しく続けながら英語力もアップ。日本語で書いた日記を英語に自動翻訳するアプリ！" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= asset_path('ogp-image.jpg') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="ja_JP" />
    
    <!-- Twitterカード用 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="English Diary" />
    <meta name="twitter:description" content="日記を楽しく続けながら英語力もアップ。日本語で書いた日記を英語に自動翻訳するアプリ！" />
    <meta name="twitter:image" content="<%= asset_path('ogp-image.jpg') %>" />

  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>

  <footer class="site-footer">
    <ul>
      <li><%= link_to 'Terms of service', terms_path %></li>
      <li><%= link_to 'Privacy Policy', privacy_path %></li>
      <li><%= link_to 'Inquiry', contact_path %></li>
    </ul>
  </footer>
</html>
